.cityPageWrapper {
  padding: 0 3.89em;
  padding-top: 13rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
}

.cityPageWrapper svg {
  margin-right: 0.5rem;
}

.cityPageWrapper h1 {
  margin-bottom: 1rem;
  text-align: left;
}

.cityPageWrapper button {
  margin-bottom: 1rem;
}

.cityDetails {
  padding: 1.5rem 1.0625rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
}

.cityDetails .row:nth-of-type(1) .descriptionWrapper:nth-of-type(1) {
  display: flex;
  align-items: center;
}

.description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #211646;
}

.descriptionValue {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 140%;
  color: #5568f1;
  margin-left: 0.5rem;
}

.linksWrapper,
.row {
  display: flex;
}

.row {
  align-items: center;
  justify-content: space-between;
}

.row:nth-of-type(1) {
  border-bottom: 1px solid #bdceff;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.row:nth-of-type(1) div {
  margin-right: 2.5rem;
}

.row:nth-of-type(1) > div:nth-of-type(1) {
  display: flex;
}

.row:nth-of-type(2) div {
  margin-right: 2rem;
}

.row:nth-of-type(1) div:last-of-type,
.row:nth-of-type(2) div:last-of-type {
  margin-right: 0rem;
}

.linksWrapper h2 {
  margin-bottom: 1.5rem;
}

.mapWrapper {
  background-color: red;
  height: 100%;
}

.DeployMsg {
  font-family: "Open Sans";
  display: block;
  font-style: normal;
  font-size: 0.775rem;
  line-height: 140%;
  color: #ff0033;
  margin-bottom: 0.5rem;
}
