.favouritesPageWrapper {
  padding: 0 3.89em;
  padding-top: 13rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
}

.favouritesPageWrapper ul {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.favouritesPageWrapper li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}
