.AutocompleteWrapper {
  position: relative;
  margin: 0 auto;
  width: 27rem;
  height: 56px;
  background: #f2f5ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.input {
  border: none;
  padding: 1.0625rem 0 1.0625rem 1.5rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #211646;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  width: 300px;
  height: 100%;
}

.AutocompleteWrapper button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: rgba(33, 22, 70, 0.5);
}

.input:focus {
  outline: none;
}

.results {
  background-color: red;
  position: absolute;
  width: 100%;
  top: 2.9rem;
  background: #fcfcfc;
  border-radius: 8px;
  padding: 0.75rem 0 0.9375rem 0;
}

.cities,
.countries {
  list-style: none;
  display: flex;
  padding: 0.375rem 0;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  padding-left: 1rem;
}

.cities {
  flex-direction: column;
}

.cities span:nth-of-type(1),
.cities span:nth-of-type(2),
.countries {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 140%;
  color: #211646;
}

.cities span:nth-of-type(1),
.countries {
  font-weight: 700;
}

.cities:hover,
.countries:hover {
  background: #f7f7fb;
}

.error,
.spinner {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 140%;
  color: #ff0033;
  position: absolute;
  top: calc(100% + 0.5rem);
  padding-left: 1.5rem;
}
