@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");
@font-face {
  font-family: "VCR OSD Mono";
  src: url("/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 1vw;
  min-height: 0vw;
  font-size: calc(0.6122848200312989vw + 0.3092723004694837em);
  min-height: 100vh;
}

h1,
h2 {
  font-family: "VCR OSD Mono";
  text-transform: uppercase;
  color: #1a1745;
  margin: 0;
  line-height: 120%;
  letter-spacing: -0.04em;
  font-weight: 400;
  font-style: normal;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Max Font Size */
@media screen and (min-width: 1560px) {
  body {
    font-size: 0.90625em;
  }
}
/* Min Font Size */
@media screen and (max-width: 991px) {
  body {
    font-size: calc(0.20181634712411706vw + 0.625em);
  }
}
.container {
  max-width: 100em;
  margin: 0 auto;
}

.main-container {
  position: relative;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.search {
  margin-bottom: 1.5rem;
}

.main {
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.AutocompletePlace input {
  padding: 12px 16px;
  width: 300px;
  font-size: 16px;
}

.AutocompletePlace-results {
  background-color: white;
  padding: 16px;
}

.results {
  color: white;
  position: absolute;
  left: 128px;
}

.AutocompletePlace-items {
  list-style: none;
}

.AutocompletePlace-results li {
  padding: 0px;
  margin-bottom: 8px;
  cursor: pointer;
}

h1 {
  font-size: 2.94rem;
  text-align: center;
}

h2 {
  font-size: 1.69rem;
}

p {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #211646;
}

.lg-text {
  font-size: 1.69rem;
}

.sm-text {
  font-size: 0.75rem;
}

.map-image {
  background-image: url("/map.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 3rem;
}

.mapboxgl-map {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

#modal-root,
#address-modal-root,
#notifications {
  height: auto;
  min-height: auto;
}
