.modalOverlay {
  position: absolute;
  top: 0;
  transition: 1s all ease-in-out;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(85, 104, 241, 0.1);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.close {
  animation-duration: 1s;
  animation-name: slideout;
}

.open {
  animation-duration: 1s;
  animation-name: slidein;
}

.modalWrapper {
  position: absolute;
  max-width: 30.5rem;
  width: 34%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(85, 104, 241, 0.15);
}

.header {
  padding: 1.5rem 0 1rem 3.5rem;
  display: flex;
  border-bottom: 1px solid rgba(33, 22, 70, 0.1);
}

.header svg {
  margin-right: 1rem;
}

.header p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(33, 22, 70, 0.4);
  margin: 0;
}

.body,
.dashboardBody {
  padding-left: 3.5rem;
}

.dashboardBody h4,
.dashboardBody span {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.dashboardBody h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  color: #211646;
}

.dashboardBody div:nth-of-type(3) h4 {
  margin-bottom: 1rem;
}

.dashboardBody div:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dashboardBody div:nth-of-type(3) div {
  margin-bottom: 0.75rem;
}

.dashboardBody button {
  margin-top: 0.255rem;
}

.dashboardBody span {
  font-size: 0.875rem;
  color: rgba(33, 22, 70, 0.4);
}

.dashboardInfoWrapper {
  margin-bottom: 2.5rem;
}

.body {
  padding-top: 10rem;
}
.dashboardBody {
  padding-top: 4em;
}

.body p {
  margin: 1rem 0 2.5rem 0;
  max-width: 320px;
}

.AutocompleteWrapper {
  position: relative;
  width: 27rem;
  max-width: 376px;
  height: 56px;
  background: #f2f5ff;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.AutocompleteWrapper button {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.input {
  border: none;
  padding: 1.0625rem 0 1.0625rem 1.5rem;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #211646;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: transparent;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 16rem;
}

.input:focus {
  outline: none;
}

.importantNote {
  background: rgba(252, 192, 3, 0.2);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #211646;
  margin: 0.5rem 0 1rem 0;
  max-width: 376px;
}

.importantNote span {
  font-weight: 700;
}

.radioButtonWrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.radioButtonWrapper p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #5568f1;
  margin: 0;
}

.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -0.45rem;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #f2f5ff;
  border: 1px solid #5568f1;
}

.checkboxContainer:hover input ~ .checkmark {
  background-color: #f2f5ff;
}

.checkboxContainer input:checked ~ .checkmark {
  background-color: #5568f1;
  border: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkboxContainer .checkmark:after {
  left: 6px;
  top: 1.5px;
  width: 2.5px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.results {
  background-color: red;
  position: absolute;
  width: 100%;
  top: 2.9rem;
  background: #fcfcfc;
  border-radius: 8px;
  padding: 0.75rem 0 0.9375rem 0;
  z-index: 1;
}

.address {
  list-style: none;
  display: flex;
  padding: 0.375rem 0;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  padding-left: 1rem;
}

.address {
  flex-direction: column;
}

.address span:nth-of-type(1),
.address span:nth-of-type(2),
.address {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 140%;
  color: #211646;
}

.address span:nth-of-type(1) {
  font-weight: 700;
}

.address:hover,
.address:hover {
  background: #f7f7fb;
}

.error {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 0.875rem;
  line-height: 140%;
  color: #ff0033;
  position: absolute;
  top: 1.5rem;
  padding-left: 1.5rem;
  left: -1.5rem;
}

.importantNote {
  background: rgba(252, 3, 3, 0.15);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #211646;
  margin: 0.5rem 0 1rem 0;
  max-width: 376px;
}

.Yellow {
  background: rgba(252, 192, 3, 0.2);
}

.LinkWrapper {
  margin-top: 2rem;
}

.LinkWrapper input {
  margin-bottom: 1rem;
}

.LinkWrapper a {
  background: #5568f1;
  border-radius: 0.25rem;
  padding: 0.625rem 1rem;
  width: max-content;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #ffffff;
  cursor: pointer;
}

.dashboardBody .Verified {
  color: #5568f1;
  font-weight: 600;
}

@keyframes slidein {
  from {
    left: -9999px;
  }

  to {
    left: 0px;
  }
}

@keyframes slideout {
  from {
    left: 0px;
  }

  to {
    left: -9999px;
  }
}
