.InputWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  position: relative;
  flex-direction: column;
}

.InputWrapper:last-of-type {
  margin-bottom: 1rem;
}

.InputWrapper span {
  margin-left: 1.2rem;
  color: rgb(148, 178, 204);
}

.InputWrapper input {
  padding: 1.06rem 1.5rem;
  border: 1px solid rgba(65, 117, 148, 0.473);
  border-radius: 0.6rem;
  background: rgba(189, 206, 255, 0.2);
  border-radius: 0.5rem;
  width: 23.5rem;
  border: none;
  outline: none;
}

.InputWrapper input:focus {
  outline: 1px solid rgba(65, 117, 148, 0.774);
}

.InputWrapper input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  color: rgba(33, 22, 70, 0.5);
}

.InputWrapper span {
  position: absolute;
  color: rgb(226, 140, 140) !important;
  left: -1rem;
  top: 3.2rem;
  font-size: 0.8rem;
}

.InputWrapper p {
  margin: 0;
  margin-bottom: 0.25rem;
  font-family: "VCR OSD Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: #211646;
}

.InputWrapper:last-of-type p {
  margin-top: 0.5rem;
}
